<section class="producto-page">
  <div class="producto-card">
    <div class="producto-header">
      <div class="brand-icon">
        <i class="pi pi-box"></i>
      </div>

      <div>
        <h1>{{ edit ? 'Editar producto' : 'Nuevo producto' }}</h1>
        <p>
          Administra la información del menú, precios y disponibilidad de productos.
        </p>
      </div>
    </div>

    <form
      [formGroup]="formProducto"
      (ngSubmit)="edit ? updateProducto() : createProducto()"
      class="producto-form"
    >
      <div class="form-grid">
        <div class="form-group form-group-full">
          <label for="nombre">Nombre del producto</label>
          <input
            id="nombre"
            type="text"
            pInputText
            formControlName="nombre"
            placeholder="Ej: Arroz chino especial"
          />

          <small
            class="error"
            *ngIf="formProducto.get('nombre')?.invalid && formProducto.get('nombre')?.touched"
          >
            Nombre es requerido.
          </small>
        </div>

        <div class="form-group form-group-full">
          <label for="categoria">Categoría</label>
          <input
            id="categoria"
            type="text"
            pInputText
            formControlName="categoria"
            placeholder="Ej: Pollo, Comidas rápidas, Bebidas"
          />
        </div>

        <div class="form-group">
          <label for="precioUnitario">Precio unitario</label>
          <p-inputNumber
            inputId="precioUnitario"
            formControlName="precioUnitario"
            mode="currency"
            currency="COP"
            locale="es-CO"
            placeholder="0"
          ></p-inputNumber>
        </div>

        <div class="form-group">
          <label for="stock">Stock disponible</label>
          <p-inputNumber
            inputId="stock"
            formControlName="stock"
            [min]="0"
            placeholder="0"
          ></p-inputNumber>
        </div>
      </div>

      <div class="actions">
        <p-button
          [label]="edit ? 'Actualizar producto' : 'Guardar producto'"
          [loading]="isSaveInProgress"
          type="submit"
          icon="pi pi-save"
          styleClass="save-button"
        ></p-button>
      </div>
    </form>
  </div>
</section>